@font-face {
    font-family: "OpenSans";
    src: url("/fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "OpenSans";
    src: url("/fonts/OpenSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "OpenSans";
    src: url("/fonts/OpenSans-Italic.ttf");
    font-weight: italic;
}
@font-face {
    font-family: "OpenSans";
    src: url("/fonts/OpenSans-BoldItalic.ttf");
    font-style: italic, bold;
}