@import "common";

/*Applies to all*/
body, #mw-content-text {
    font-family: "Lato";
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: $accent-color;
    transition: all 0.2s ease-in-out;
    &:hover {
        color: $accent-light-color;
        text-shadow: 0px 0px 8px $accent-light-color;
    }
}

img {
    width: auto; 
    height: auto;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

#main {
    height: 100%;
    $grid-content: (
        columns: 12,
        gutter: 60px,
        color: blue,
    );
    color: $text-dark-color;
    padding: 1% 1%;
    width: auto;
    height: auto;
    position: relative;
    //@include grid-container;
    background-color: $background-light-color;
    //@include grid-visual;
    
    h1 {
        padding: 3% 1%;
    }
    p {
        margin: 1%;
        line-height: 2em;
    }
    /*
    div#media{    
        @include grid-column(4, $grid-content);
        text-align: center;
        position: absolute;
        top: 40px;
        bottom: 20px;
    }
    div#text{
    }
    */
}

#media {
    color: $text-dark-color;
    //display: flex;
    width: 100%;
    height: 100%;
}


/*scroll bar*/
.scrolltop {
    display:none;
    width:100%;
    margin:0 auto;
    position:fixed;
    bottom:20px;
    right:10px; 
}
.scroll {
    position:absolute;
    right:20px;
    bottom:20px;
    background:#b2b2b2;
    background:rgba(178,178,178,0.7);
    padding:20px;
    text-align: center;
    margin: 0 0 0 0;
    cursor:pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;        
}
.scroll:hover {
    background:rgba(178,178,178,1.0);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;        
}
.scroll:hover .fa {
    padding-top:-10px;
}
.scroll .fa {
    font-size:30px;
    margin-top:-5px;
    margin-left:1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;    
}

@import "header";
@import "footer";
