@import "igemwiki-override";
@import "bourbon";
@import "neat";
@import "style_mixins";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,900italic,500italic,500,400italic);

/* Begin actual Virginia iGEm 2018 Code */

/* UVA Colors
$background-dark-color:     #232D4B;
$background-light-color:    #ffffff;
$accent-color:              #E57200;
$light-accent-color:        rgb(255, 191, 128);
$text-light:                #ffffff;
$text-dark-color:                 #666666;
$link-color:                #EB5F0C;
*/

/* Cherenkov Colors
$background-dark-color:#282828;
$background-light-color:#C3C3D8;
$accent-color: #BFFBF9;
$text-light: #E8F9F9;
$text-dark-color: #001C4E;
$link-color: #3DD4DF;
*/

/*Passion Fruit Colors*/
/*
$background-dark-color:#FAF4E0;
$background-light-color:rgb(128, 39, 81);
$accent-color: #F5287F;
$light-accent-color: rgb(255, 142, 189);
$text-light: #1E0811;
$text-dark-color: #FFF0EF;
$link-color: #FBB645;
*/

// Current site colors
$background-dark-color: rgb(37, 37, 37);
$background-light-color: rgb(247, 245, 233);
$accent-color: rgb(44, 106, 148);
$accent-light-color: rgb(0, 195, 255);
$text-light-color: rgb(255, 253, 255);
$text-dark-color: rgb(129, 127, 116);
$link-color: rgb(255, 218, 159);

$breakpoint: 1000px; // If the screen is under this width, switch to mobile view

/*Applies to all*/
body, #mw-content-text {
    font-family: "Lato";
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: $accent-color;
    transition: all 0.2s ease-in-out;
    &:hover {
        color: $accent-light-color;
        text-shadow: 0px 0px 8px $accent-light-color;
    }
}

img {
    width: auto; 
    height: auto;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

#main {
    height: 100%;
    $grid-content: (
        columns: 12,
        gutter: 60px,
        color: blue,
    );
    color: $text-dark-color;
    padding: 1% 1%;
    width: auto;
    height: auto;
    position: relative;
    @include grid-container;
    background-color: $background-light-color;
    //@include grid-visual;
    
    div#media{    
        @include grid-column(4, $grid-content);
        text-align: center;
        position: absolute;
        top: 40px;
        bottom: 20px;
    }
    div#text{
        @include grid-column(8, $grid-content);
        h1 {
            padding: 3% 1%;
        }
        p {
            margin: 1%;
            line-height: 2em;
        }
    }
    
}

#media {
    color: $text-dark-color;
    //display: flex;
    width: 100%;
    height: 100%;
}


/*scroll bar*/
.scrolltop {
    display:none;
    width:100%;
    margin:0 auto;
    position:fixed;
    bottom:20px;
    right:10px; 
}
.scroll {
    position:absolute;
    right:20px;
    bottom:20px;
    background:#b2b2b2;
    background:rgba(178,178,178,0.7);
    padding:20px;
    text-align: center;
    margin: 0 0 0 0;
    cursor:pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;        
}
.scroll:hover {
    background:rgba(178,178,178,1.0);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;        
}
.scroll:hover .fa {
    padding-top:-10px;
}
.scroll .fa {
    font-size:30px;
    margin-top:-5px;
    margin-left:1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;    
}

@import "header";
@import "footer";
