footer {
    $footer-height: 100px; // Footer height
    @include grid-container;
    background-color: $background-dark-color;
    border-top: 3px solid $accent-color;
    color: $text-light-color;
    padding: 25px;

    div {
        @include grid-column(6);
        @include block-height($footer-height);

        text-align: center;
    }
}