header {
    // Establish variables
    $nav-height: 60px; // Navbar height
    $nav-background-color: $light-background-color;
    $nav-text-color: $text-dark;

    $nav-grid: (
        columns: 8,
        gutter: 0px,
    );
    $nav-grid-dropdown: (
        columns: 1,
        gutter: 0px,
    );

    @include top-stick; // Navbar sticks to top of screen

    nav {
        @include block-height($nav-height); // Set container and line height to nav-height. Centers and 
        width: 100%;


        //padding: 10px 10px;
        ul {
            * {
                box-sizing: border-box;
            }
            @include grid-container;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                @include grid-column(1, $nav-grid);
                float: left;
                position: relative;
                @include block-height($nav-height);
                a, a:visited {
                    img {
                        margin-right: 10px;
                        max-height: 70%;
                    }
                    @include easeOutAll(0.2s);
                    display: flex;
                    align-items: center;
                    padding: 0 20px;
                    height: 100%;
                    width: 100%;
                    background: $nav-background-color;
                    color: $nav-text-color;
                    text-decoration: none;
                    &:hover{
                        background: $accent-color;
                        color: $link-color;
                    }
                    &:not(:only-child):after {
                        padding-left: 4px;
                        content: ' ▾';
                    }
                }
                ul {
                    @include grid-container;
                    display: none;
                    position: absolute;
                    li {
                        @include grid-column(1, $nav-grid-dropdown);
                    }
                }
                &:focus > ul, &:hover > ul {
                    display: block;
                }
                
            }
        }
    }
}