header {
    $nav-height: 60px; // Navbar height
    /*Keeps the nav bar sticking on the top*/ 
    @include top-stick;
    nav {
        @include block-height($nav-height);
        float: right;
        //padding: 10px 10px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                float: left;
                position: relative;
                /*makes all the nav bar the same*/
                @include block-height($nav-height);
                /*a, related to link*/
                a, a:visited {
                	/*transition time*/
                    @include easeOutAll(0.2s);
                    display: inline-block;
                    padding: 0 20px;
                    background: $dark-background-color;
                    color: $text-light;
                    text-decoration: none;
                    &:hover{
                        background: $accent-color;
                        color: $link-color;
                    }
                    /*adds the arrow on the nav bar, selects not only-child*/
                    &:not(:only-child):after {
                        padding-left: 4px;
                        content: ' ▾';
                    }
                }
                ul {
                	/*remains hidden*/
                    display: none;
                    position: absolute;
                    min-width: 160px;
                    li {
                        a {
                            padding: 15px;
                            line-height: 20px;
                        }
                    }
                }
                &:focus > ul, &:hover > ul {
                    display: block;
                }
                
            }
        }
    }
}