@import "styles";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,900italic,500italic,500,400italic);

.interactive {
    border-bottom: 3px solid $accent-color;
    background-color: white;
    color: $text-dark;
    height: 600px;
    background-image: url('../images/mountains.jpg');
    background-size: cover;
    font-size: 2rem;
    font-family: "Lato";
}

.row{
    font-family: "Lato";
    color: white;
    text-align: center;
    background-color: #bd337b; //pasion fruit
}

.category-gallery {
    background-color: #bd337b; //pasion fruit
    $grid: (
        gutter: 30px,
        media: 1000px,
        direction: ltr
    );

    @include grid-container;

    div {
        @include grid-column(6);

        @include grid-media($grid) {
            @include grid-column(2);
        }

        text-align: center;

        img {
            @extend %img-circular;
            border: 10px solid transparent;
            margin-bottom: 25px;
            width: 90%;
            height: 90%;
            opacity: 0.9;
            &:hover {
                border-color: #f1f1f1;
            }
        }
    }
}