@import "bourbon";
@import "neat";
@import "igemwiki-override";


/* Begin actual Virginia iGEm 2018 Code */

/* UVA Colors
$dark-background-color:     #232D4B;
$light-background-color:    #ffffff;
$accent-color:              #E57200;
$light-accent-color:        rgb(255, 191, 128);
$text-light:                #ffffff;
$text-dark:                 #666666;
$link-color:                #EB5F0C;
*/

/* Cherenkov Colors
$dark-background-color:#282828;
$light-background-color:#C3C3D8;
$accent-color: #BFFBF9;
$text-light: #E8F9F9;
$text-dark: #001C4E;
$link-color: #3DD4DF;
*/

/* Passion Fruit Colors
$dark-background-color:#FAF4E0;
$light-background-color:rgb(128, 39, 81);
$accent-color: #F5287F;
$light-accent-color: rgb(255, 142, 189);
$text-light: #1E0811;
$text-dark: #FFF0EF;
$link-color: #FBB645;
*/

$dark-background-color: rgb(88, 88, 88);
$light-background-color: rgb(255, 253, 235);
$accent-color: rgb(56, 189, 175);
$light-accent-color: rgb(150, 223, 215);
$text-light: rgb(255, 253, 235);
$text-dark: rgb(105, 105, 105);
$link-color: rgb(255, 218, 159);

@mixin img-circular {
    border-radius: 50%;
}

@mixin top-stick {
    position: sticky;
    top: 0;
    z-index: 99;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}
.container {
    //padding: 80px 120px;
}

body {
    margin: 0px;
}

img {
    max-width: 100%;
    overflow: hidden;
}

header {
    $navigation-height: 60px;
    @include top-stick;
    background-color: white;
    border-bottom: 3px solid $accent-color;
    padding: 25px;
    background-color: $dark-background-color;
    color: $text-light;
    box-shadow: 0px -10px 8px #888888;
    nav {
        ul {
            > li{
                background: $dark-background-color;
                display: block;
                line-height: $navigation-height;
                overflow: hidden;
                padding-right: 20px;
                text-align: right;
                width: 100%;
                z-index: 999;
                &:focus, &:hover {
                    background-color: $light-accent-color;
                    border-color: $light-accent-color;
                    color: $text-dark;
                }
                a {
                    color: $accent-color;
                    display: inline-block;
                    outline: none;
                    text-decoration: none;

                    &:focus, &:hover {
                        color: $link-color;
                    }
                }
            }
            > li.dropdown {
                overflow: visible;
                > li {
                    > a::after {
                        @include position(absolute, auto -0.4em auto auto);
                        color: $accent-color;
                        content: "\25BE";
                    }
                }
            }
        }
    }
}
.content {
    padding: 30px 15%;
    background-color: $light-background-color;
    color: $text-dark;
}
footer {
    @include grid-container;
    background-color: $dark-background-color;
    border-top: 3px solid $accent-color;
    color: $text-light;
    padding: 25px;

    div {
        @include grid-column(4);

        text-align: center;
    }
}

a:link {
    color: $link-color;
}