@import "bourbon";
@import "neat";
@import "igemwiki-override";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,900italic,500italic,500,400italic);

/* Begin actual Virginia iGEm 2018 Code */

/* UVA Colors
$dark-background-color:     #232D4B;
$light-background-color:    #ffffff;
$accent-color:              #E57200;
$light-accent-color:        rgb(255, 191, 128);
$text-light:                #ffffff;
$text-dark:                 #666666;
$link-color:                #EB5F0C;
*/

/* Cherenkov Colors
$dark-background-color:#282828;
$light-background-color:#C3C3D8;
$accent-color: #BFFBF9;
$text-light: #E8F9F9;
$text-dark: #001C4E;
$link-color: #3DD4DF;
*/

/*Passion Fruit Colors*/
/*
$dark-background-color:#FAF4E0;
$light-background-color:rgb(128, 39, 81);
$accent-color: #F5287F;
$light-accent-color: rgb(255, 142, 189);
$text-light: #1E0811;
$text-dark: #FFF0EF;
$link-color: #FBB645;
*/

// Current site colors
$dark-background-color: rgb(88, 88, 88);
$light-background-color: rgb(255, 253, 235);
$accent-color: rgb(44, 106, 148);
$light-accent-color: rgb(44, 106, 148);
$text-light: rgb(255, 253, 255);
$text-dark: rgb(105, 105, 105);
$link-color: rgb(255, 218, 159);

$breakpoint: 1000px; // If the screen is under this width, switch to mobile view

@mixin easeOutAll($time) {
  -webkit-transition: all $time ease-out;
  -moz-transition: all $time ease-out;
  -o-transition: all $time ease-out;
  transition: all $time ease-out;
}

@mixin img-circular {
    border-radius: 50%;
}

@mixin top-stick {
    position: sticky;
    top: 0;
    z-index: 99;
}
/*Applies to all*/

@mixin block-height($height) {
    line-height: $height;
    height: $height;
}

* {
    font-family: "Lato";
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    width: auto; 
    height: auto;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.content {
    $grid-content: (
        columns: 12,
        gutter: 60px,
    );
    color: $text-dark;
    background-color:$light-background-color;
    
    div.interactive{    
        @include grid-column(4, $grid-content);
        text-align: center;
    }
    div.text{
        @include grid-column(8, $grid-content);
        h1 {
            margin: 3% 1%;
        }
        p {
            margin: 1%;
            line-height: 1.5em;
        }
    }
    
}

@import "header";
@import "footer";
