@import "bourbon";
@import "neat";
@import "igemwiki-override";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,900italic,500italic,500,400italic);


/* Begin actual Virginia iGEm 2018 Code */

/* UVA Colors
$dark-background-color:     #232D4B;
$light-background-color:    #ffffff;
$accent-color:              #E57200;
$light-accent-color:        rgb(255, 191, 128);
$text-light:                #ffffff;
$text-dark:                 #666666;
$link-color:                #EB5F0C;
*/

/* Cherenkov Colors
$dark-background-color:#282828;
$light-background-color:#C3C3D8;
$accent-color: #BFFBF9;
$text-light: #E8F9F9;
$text-dark: #001C4E;
$link-color: #3DD4DF;
*/

/*Passion Fruit Colors*/
/*
$dark-background-color:#FAF4E0;
$light-background-color:rgb(128, 39, 81);
$accent-color: #F5287F;
$light-accent-color: rgb(255, 142, 189);
$text-light: #1E0811;
$text-dark: #FFF0EF;
$link-color: #FBB645;
*/


$dark-background-color: rgb(88, 88, 88);
$light-background-color: rgb(255, 253, 235);
$accent-color: rgb(56, 189, 175);
$light-accent-color: rgb(150, 223, 215);
$text-light: rgb(255, 253, 255);
$text-dark: rgb(105, 105, 105);
$link-color: rgb(255, 218, 159);


@mixin img-circular {
    border-radius: 50%;
}

@mixin top-stick {
    position: sticky;
    top: 0;
    z-index: 99;
}
/*Applies to all*/
* {
    font-family: "Lato";
    margin: 0;
    padding: 0;
    border: 0;
}
.container {
    /*padding: 80px 120px;*/
}

body {
    margin: 0px;
}

img {
    max-width: 100%;
    overflow: hidden;
}

header {
    @include top-stick;
    nav {
        $nav-height: 60px;
        float: right;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            /*navigation bar*/
            li {
                float: left;
                position: relative;
                a, a:visited {
                    display: block;
                    padding: 0 20px;
                    line-height: $nav-height;
                    background: $dark-background-color;
                    color: $text-light;
                    text-decoration: none;
                    &:hover{
                        background: $accent-color;
                        color: $link-color;
                    }
                    &:not(:only-child):after {
                        padding-left: 4px;
                        content: ' ▾';
                    }
                }
                ul {
                    display: none;
                    position: absolute;
                    min-width: 160px;
                    a {
                        padding: 15px;
                        line-height: 20px;
                    }
                }
                &:focus > ul, &:hover > ul {
                    display: block;
                }
                
            }
        }
    }
}

.content { /*This is close to the bottom with the circles*/
    /*padding: 20px 20px;*/
    color: $light-accent-color;
    background-color:$dark-background-color;
    border-left: 10rem solid #ebebeb;
    border-right: 10rem solid #ebebeb;
    
    div.interactive{    
        @include grid-column(4);
        text-align: center;
    }
    div.text{
        @include grid-column(8);
    }
    
}

footer {
    @include grid-container;
    background-color: $dark-background-color;
    border-top: 3px solid $accent-color;
    color: $text-light;
    /*padding: 25px;*/

    div {
        @include grid-column(6);

        text-align: center;
    }
}

a:link {
    color: $link-color;
}