:root {
    --dark-background-color:#232D4B;
    --light-background-color:#ffffff;
    --highlight-color: #E57200;
    --text-light: #ffffff;
    --text-dark: #666666;
    --link-color: #EB5F0Cff;
}
.container {
    padding: 80px 120px;
}
.category {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 90%;
    height: 90%;
    opacity: 0.9;
}
.category:hover {
    border-color: #f1f1f1;
}
.headliner {
    padding: 100px 140px;
    background-color: var(--dark-background-color);
    color: var(--text-light);
}
.body {
    padding: 20px 20px;
    background-color: var(--light-background-color);
    color: var(--text-dark);
}
footer {
    background-color: var(--dark-background-color);
    color: var(--text-light);
    padding: 32px;
}

a:link {
    color: var(--link-color);
}
ul.nav li a {
    color: var(--link-color);
}