.interactive {
    border-radius: 0 !important;
    padding: 50px;
    margin: 0px;
    border: 2px;
    background-color: var(--dark-background-color);
    color: var(--text-light);
    height: 600px;
}
.category {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 90%;
    height: 90%;
    opacity: 0.9;
}
.category:hover {
    border-color: #f1f1f1;
}