<footer>
    <div class="row">
        <div class="col-sm-4 text-left">
            <br>
            <h3>Virginia iGEM 2018</h3>
        </div>
        <div class="col-sm-4 text-center">
            <br>
            <a class="up-arrow" href="#top">
                <span class="glyphicon glyphicon-chevron-up"></span>
                <h4>To top</h4>
            </a>
        </div>
        <div class="col-sm-4">
            <img class="text-right img-responsive" style="max-width:20%" align="right" src="images/Wireframe_Logo_Light.png" alt="Virginia iGEM Logo">
        </div>
    </div>
</footer>