<div id="navbar">
    <ul>
        <li>
        <a class="internal" href="/index.html">
            <img src="images/Wireframe_Logo_Light.png" alt="UVA logo"></img>  Hivemind - Home
        </a>
        </li>
        <li>
        <a href="#">Project</a>
        <ul>
            <li><a class="internal" href="/pages/Overview_Project.html">Overview</a></li>
            <li><a class="internal" href="/pages/Description.html">Description</a></li>
            <li><a class="internal" href="/pages/Design.html">Design</a></li>
            <li><a class="internal" href="/pages/Experiments.html">Experiments</a></li>
            <li><a class="internal" href="/pages/Notebook.html">Notebook</a></li>
            <li><a class="internal" href="/pages/InterLab.html">InterLab</a></li>
            <li><a class="internal" href="/pages/Model.html">Model</a></li>
            <li><a class="internal" href="/pages/Results.html">Results</a></li>
            <li><a class="internal" href="/pages/Demonstrate.html">Demonstrate</a></li>
            <li><a class="internal" href="/pages/Improve.html">Improve</a></li>
        </ul>
        </li>
        <li>
        <a href="#">Parts</a>
        <ul>
            <li><a class="internal" href="/pages/Parts.html">Overview</a></li>
            <li><a class="internal" href="/pages/Basic_Part.html">Basic Parts</a></li>
            <li><a class="internal" href="/pages/Composite_Part.html">Composite Parts</a></li>
            <li><a class="internal" href="/pages/Part_Collection.html">Part Collection</a></li>
        </ul>
        </li>
        <li>
        <a class="internal" href="/pages/Safety.html">Safety</a>
        </li>
    <li>
        <a href="#">Human Practices</a>
        <ul>
        <li><a class="internal" href="/pages/Overview_HP.html">Overview</a></li>
        <li><a class="internal" href="/pages/Human_Practices.html">Human Practices</a></li>
        <li><a class="internal" href="/pages/Public_Engagement.html">Public Engagement</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Team</a>
        <ul>
        <li><a class="internal" href="/pages/Team.html">Team Members</a></li>
        <li><a class="internal" href="/pages/Collaborations.html">Collaborations</a></li>
        <li><a class="internal" href="/pages/Attributions.html">Attributions</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Awards</a>
        <ul>
        <li><a class="internal" href="/pages/Applied_Design.html">Applied Design</a></li>
        <li><a class="internal" href="/pages/Entrepreneurship.html">Entrepreneurship</a></li>
        <li><a class="internal" href="/pages/Hardware.html">Hardware</a></li>
        <li><a class="internal" href="/pages/Measurement.html">Measurement</a></li>
        <li><a class="internal" href="/pages/Model.html">Model</a></li>
        <!--li><a class="internal" href="/pages/Plant.html">Plant</a></li-->
        <li><a class="internal" href="/pages/Software.html">Software</a></li>
        </ul>
    </li>
    <li>
        <a href="https://igem.org/2018_Judging_Form?team=Virginia.html">Judging Form ⇗</a>
    </li>
    </ul>
</div>