@import "neat";

/* Override iGEM wiki settings */
#sideMenu,
#top_title {
    display: none;
}

#content {
    width: 100vw;
    padding: 0px;
    border: none;
    color: black;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    position: relative;
}

#globalWrapper {
    font-size: inherit;
    padding-bottom: 0;
}

#top_menu_under {
    height: 0px;
}

ul {
    list-style-image: none; /* removes the iGEM wiki bullets */
}

/* Begin actual Virginia iGEm 2018 Code */

/* UVA Colors */
$dark-background-color:     #232D4B;
$light-background-color:    #ffffff;
$accent-color:              #E57200;
$light-accent-color:        rgb(255, 191, 128);
$text-light:                #ffffff;
$text-dark:                 #666666;
$link-color:                #EB5F0C;

/* Cherenkov Colors
$dark-background-color:#282828;
$light-background-color:#C3C3D8;
$accent-color: #BFFBF9;
$text-light: #E8F9F9;
$text-dark: #001C4E;
$link-color: #3DD4DF;
*/

/* Passion Fruit Colors
$dark-background-color:#4F1832;
$light-background-color:#FAF4E0;
$accent-color: #F5287F;
$text-light: #FFF0EF;
$text-dark: #1E0811;
$link-color: #FBB645;
*/

%img-circular {
    border-radius: 50%;
}

.container {
    //padding: 80px 120px;
}

body {
    margin: 0px;
}

header {
    border-bottom: 3px solid $accent-color;
    padding: 25px;
    background-color: $dark-background-color;
    color: $text-light;
    ul.nav {
        $grid: ( 
            columns: 9,
            gutter: 10px
        );

        @include grid-container;

        li {
            @include grid-column(1, $grid);
            list-style: none;
            text-align: center;
            border: 2px solid $dark-background-color;
            border-radius: 4px;
            &:hover {
                background-color: $light-accent-color;
                border-color: $light-accent-color;
                color: $text-dark;
            }
            li.dropdown {
            }
        }
    }
}
.content {
    padding: 20px 20px;
    background-color: $light-background-color;
    color: $text-dark;
    border-left: 10rem solid #ebebeb;
    border-right: 10rem solid #ebebeb;
}
footer {
    @include grid-container;
    background-color: $dark-background-color;
    border-top: 3px solid $accent-color;
    color: $text-light;
    padding: 25px;

    div {
        @include grid-column(4);

        text-align: center;
    }
}

a:link {
    color: $link-color;
}